#articlesList {
    margin: 0.2em 0.2em 0.2em 0.2em;
}

#content {
    margin: 0.2em 0.2em 0.2em 0.2em;
}

.articlePreview {
    margin: 1.4em 0em 0em 0em;
}

.articlePreview a {
    color: black;
}

.articlePreview img {
    display: block;
}

.site {
    margin-bottom: 1em;
}