#articlesList {
    margin: 0.2em 0.2em 0.2em 0.2em;
}

#content {
    margin: 0.2em 0.2em 0.2em 0.2em;
    font-size: 1.4em;
    line-height: 1.6em;
}

#content p {
    text-align: justify;
}

#center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    font-family: 'Manrope', sans-serif;
}

.articlePreview {
    margin: 1.4em 0em 0em 0em;
    min-height: 120px;
}

.articlePreview a {
    color: black;
}

.articlePreview img {
    float: left;
    margin-right: 1em;
}

img {
    border-radius: 8px;
}

.site {
    margin-bottom: 1em;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.8em;
}