#articlesList {
    margin: 0.2em 0.2em 0.2em 0.2em;
}

#content {
    margin: 0.2em 0.2em 0.2em 0.2em;
}

.articlePreview {
    margin: 1.4em 0em 0em 0em;
    min-height: 120px;
}

.articlePreview a {
    color: black;
}

.articlePreview img {
    float: left;
    margin-right: 1em;
}

img {
    border-radius: 8px;
}

.site {
    margin-bottom: 1em;
}